{% extends "base.html" %}
{% load bootstrap5 %}

{% block content %}
<title>Password Reset</title>

<div class="container">
  <div class="row">
    <div class="col-md-7 col-xs-12  border p-3">
      <h1 class="fw-bold pb-3">
        Set new password
      </h1>
      <p class="pb-2">
        Please enter a new 
        password for your account.
      </p>
      <form action="" method="post">
        {% bootstrap_form form %}
        {% csrf_token %}
        <button type="sumbit" 
            class="btn btn-primary ">
            Create new password
        </button>
      </form>
    </div>
  </div>
</div>

<br>
<div class="shadow-lg bg-white text-white pt-4 mb-6" style="height: 100px">
</div>
{% endblock %}