{% extends "base.html" %}
{% load bootstrap5 %}


{% block content %}
<title>Password Reset</title>

<div class="container">
	<div class="row">
		<div class="col-md-7 col-xs-12">
			<div class="border p-4">
				<h1 class="fw-bold pb-3">
					Forgot Your Password?
				</h1>
				<p class="pb-3">
					Please enter the email address 
					connected to your account and we 
					will send you a link to reset your password.
				</p>
				<form action="" method="post">
					{% bootstrap_form form %}
					{% csrf_token %}
					<button type="sumbit" 
							class="btn btn-primary" 
							style="font-size: 14px;">
							Send reset instructions
					</button>
				</form>
			</div>
		</div>	
		<div class="col-md-3 col-auto">
		</div>		
	</div>
</div>

<br>
<div class="shadow-lg bg-white text-white pt-4 mb-6" style="height: 200px">
</div>
{% endblock %}s