{% load thumbnail %}

<div class="container">
  <div class="row 
              row-cols-3
              row-cols-sm-3
              row-cols-md-5 g-1">
    {% for image in images %}
      <div class="col">
        <a href="{{ image.get_absolute_url }}">
          {% thumbnail image.image "250x250" crop="100%" as im %}
            <a href="{{ image.get_absolute_url }}">
            <image class="img-fluid" 
                   src="{{ im.url }}">
            </image>
            </a>
          {% endthumbnail %}
        </a>
      </div>
    {% endfor %}
  </div>
</div>

<div class="p-1"></div>
