{% extends "base.html" %}
{% load thumbnail %}
{% load static %}
{% load bootstrap5 %}

{% block title %}People{% endblock %}

{% block content %}
<div id="account-list">
	<div class="container">
		<a href="{% url 'search_user' %}">
       		<form>
            	<input  class="form-control" 
                		type="text" 
                		placeholder="Search"
                		aria-label="Search">
        	</form>
  		</a>
  	</div>
  	<br>
    {% include "account/user/ajax.html" %}
</div>

{% endblock %}

{% block domready %}
	var page = 1;
	var empty_page = false;
	var block_request = false;

	$(window).scroll(function() {
		var margin = $(document).height() - $(window).height() - 200;
		if ($(window).scrollTop() > margin && empty_page == false
										   && block_request == false) {
			block_request = true;
			page += 1;

			$.get('?page=' + page, function (data) {
				if (data == '') {
					empty_page = true;
				} else {
					block_request = false;
					$('#account-list').append(data);
				}
			});
		}
	});
{% endblock %}