{% extends "base.html" %}
{% load thumbnail %}
{% load static %}

{% block title %}People{% endblock %}

{% block content %}
<div class="container">
  <div class="row row-cols-xs-3 row-cols-4 row-cols-sm-4 row-cols-md-5 g-3">
    {% for user in users %}
      <div class="col-auto">
        <a class="p-3" href="{{ user.get_absolute_url }}">
          {% if user.profile.photo %}
            {% thumbnail user.profile.photo "180x180" crop="100%"  as im %}
              <image class="img-fluid rounded-circle 
                            rounded mx-auto d-block" 
                     src="{{ im.url }}"> 
              </image>
            {% endthumbnail %}
          {% else %}
            <image class="img-fluid rounded-circle 
                          rounded mx-auto d-block"
                   src="{% static 'img/no_image.png' %}" 
                   style="width: 180px; height: 180px">    
            </image>
          {% endif %}
        </a>
        <div class="card-body">
          <p class="text-center fw-bold">
            {{ user.get_full_name }}
          </p>
        </div>
      </div>  
    {% endfor %}
  </div>
</div>
{% endblock %}