{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
  	<div class="col">
  		<button type="button" 
              class="btn btn-dark" 
              style="width: 100%">
  				<h1>Welcome to the main page of the site</h1>
  		</button>
  	</div>
  </div>
  <br>
  <div class="row">
  	<div class="col">
  		<a href="{% url 'edit' %}">
  			
  				<a href="javascript:{% include 'bookmarklet_launcher.js' %}"
             class="btn btn-primary">

          Bookmark it</a>
  			
  		</a>	
  	</div>
  </div>
  <br>
  <div class="border">
  	<br>
  </div>
  <br>
  <div class="row">
    <dic class="col-12
                col-sm-12
                col-md">
      {% for action in actions %}
        {% include "actions/action/detail.html" %}
      {% endfor %}
    </dic>
    <div class="col-auto
                col-sm-12
                col-md">
    </div>
  </div>
</div>
{% endblock %}